{% extends "social_app/base.html" %}

{% block title %}Post{% endblock %}

{% block content %}

<div class="col-md-10 m-auto">
    
<article class="content-section" style="overflow: auto;">

    <div class="media">
        <img class="rounded-circle article-img" src="{{post.author.profile.profile_pic.url}}" alt="image">
        <div class="media-body">
            <h4 class="d-inline"><a class="mr-2 text-success" href="{% url 'users:profile-detail-view' post.author.profile.id %}">{{ post.author }}</a></h4>
            <div id="save-section">
                {% include 'social_app/save_section.html' %}
            </div>
            <p><small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small></p>
        </div>
    </div>
    <hr>
    
    <h3 class="d-inline"><a class="article-title" href="{% url 'social_app:post-detail' post.id %}">{{ post.title }}</a></h3>
    {% if post.author == user %}
        <div class="d-inline float-right">
            &nbsp;&nbsp;&nbsp;<a class="btn btnedit" href="{% url 'social_app:post-update' post.id %}"><i class="far fa-edit"></i></a>
            &nbsp;&nbsp;&nbsp;<a class="btn btndel" href="{% url 'social_app:post-delete' post.id %}"><i class="far fa-trash-alt"></i></a>
        </div>
    {% endif %} 
    

    <hr>
    <p class="article-content">{{ post.content|safe }}</p>
</article>

<div id="like-section">
    {% include 'social_app/like_section.html' %}
</div>


<hr>

<div class="main-comment-section">
    {% include 'social_app/comments.html' %}
</div>


<br><br>

</div>


{% endblock %}